page-create-appointment {

.toolbar-title.toolbar-title-md .md-done-button {
    line-height: 33px !important;
    height: 33px;
    line-height: 30px;
    border-left: 1px solid #b2b2b2;
    text-align: center;
    padding-left: 8px;
}

}
