page-changepassword {
ion-item.item.item-block.item-md.item-input.ng-untouched.ng-pristine.ng-valid {
    border: 1px solid #eee;
    border-radius: 50px;
    background-color: #eee;
}
.ion-item-box{
	    border: 1px solid #c1142c !important;
    border-radius: 50px !important;
    background-color: #fff !important;
}
.ion-item-box .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #060001;
    font-size: 14px;
    letter-spacing: 0.5px;
}
 .toolbar-ios ion-title {
    padding: 0 18px 1px 57px !important;
}
}
