page-addpin {
.ddl-item{
	color: #FFF;
    padding: 8px 15px;
    font-size: 25px;
  }
.lef-icon{
	border-left: 1px solid gray;
    padding-left: 31px;
  } 
 .toolbar-background {
    background: #C1142C;
}
.toolbar-title.toolbar-title {
    color: #ffffff;
}
}
