<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="accent">
     <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title style="display: flex; justify-content: space-between; font-size: 24px;">
            <ion-row>
              <ion-col col-12>
        <div style="float: left">
            Chat
        </div>
      </ion-col>
      <!-- <ion-col col-1>
       
                <ion-icon name="add"></ion-icon>
           </ion-col> -->
         </ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <div *ngFor="let item of items">
    <button ion-item  (click)="gotoChat(item.id,item.full_name,item.img)" *ngIf="userid!=item.id" >
      <ion-row >
        <ion-col col-2>
          <img [src]="'https://clients.managedcrmsolution.com/public/user/usericon/'+ item.img" onerror="this.src='assets/imgs/user.png'" style="width: 40px;height: 40px;border-radius: 50%">
        </ion-col>
        <ion-col col-10>
           <div style="display: inline-block; line-height: 32px;"> {{item.full_name}}<!-- <br>
         {{item.lastMessage}} --></div>
        </ion-col>
      </ion-row>
        
       
      
      
        
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
     
     <!--  <div class="item-note" item-end>
        {{item.time}}
      </div> -->
    </button>
  </div>
  </ion-list>
</ion-content>
