page-list {
ion-list-header.item.item-md.list-header.list-header-md.list_Item_header {
    margin-bottom: 0 !important;
    min-height: 0 !important;
    background-color: #F19B2B;
    color: black;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
}
.icon.ion-ios-clock-outline{
	font-size:48px;
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 10px !important;
}
}
