<ion-header>
  <ion-navbar  color="accent">
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title style="display: flex; justify-content: space-between; font-size: 24px;">
            
        <div float-left >
            Pin List
        </div>
      <!--   <div float-right style="display: flex; justify-content: space-between; width: 75px;">
            <div>
                <ion-icon (click)="goToMap()" name="map"></ion-icon>
            </div>
            <div>
                <ion-icon (click)="goToFilter()" name="funnel"></ion-icon>
            </div>
            <div >
                <ion-icon (click)="showOverlay()" name="add"></ion-icon>
            </div>
        </div> -->
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>    
  <ion-list-header class="list_Item_header"> 
  <ion-row>
    <div style="width: 46px; line-height: 24px;">Status</div>
    <ion-col>Address</ion-col>
    <ion-col style="float: right; margin-left: 54px;">Last Upadted <ion-icon name="arrow-dropdown"></ion-icon></ion-col>
  </ion-row>
  </ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      <ion-icon name="pin" item-start class="icon ion-ios-clock-outline" [ngStyle]="{'color': item.pin_status.color_code}"></ion-icon>
      {{item.title}}<br>
      <p>{{item.address1}}&nbsp;{{item.address2}}</p>
      <p>{{item.city}},{{item.state}}</p>
      <div class="item-note" item-end>
        {{item.date}}<br>
        <p>{{item.time}}</p>
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<div class="my-overlay" padding [hidden]="overlayHidden">
    <div style="    width: 80%;
    background-color: #FFF;
    margin: 0 auto;
    min-height: 165px;
    margin-top: 65%;
    padding: 20px;">
        <h2>Select Action</h2>
        <h5 (click)="AddPin()">Add Pin</h5>
        <h5>Select Pins</h5>
        <span  float-right style="font-size: 18px;color:#358fcd" (click)="hideOverlay()">CANCEL</span>
    </div>
</div>
