<ion-header>
  <ion-navbar hideBackButton >
    <ion-title class="filter-header">
            
        <div  style="width: 20%;float: left" (click)="ClearSelection()">
            <span *ngIf="clear">Clear</span>
        </div>
        <div text-center style="width: 60%;float: left;font-size: 30px">
            Filter
        </div>       
        <div text-right style="width: 20%;float: left;height: 48px; line-height: 48px;border-left: 1px solid #b2b2b2" (click)="goToMap()">
            Done
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
<ion-row style="border-bottom: 1px solid #b2b2b2;">
	<ion-col text-center  [class.active]="filter==1" style="line-height: 30px;font-size: 16px;" (click)="changeFilter(1)">
		Date	
	</ion-col>
	<ion-col text-center [class.active]="filter==2" style="line-height: 30px;font-size: 16px; border-left: 1px solid #b2b2b2;border-right: 1px solid #b2b2b2" (click)="changeFilter(2)">
		Status
	</ion-col>
	<ion-col text-center [class.active]="filter==3" style="line-height: 30px;font-size: 16px;" (click)="changeFilter(3)">
		Assigned To
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==1">
	<ion-col>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">Today</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.today" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">Yesterday</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.yesterday" (ionChange)="LoginRemCheck(dateFilter)" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">This Week</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisWeek" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Week</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastWeek" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">This Month</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisMonth" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Month</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastMonth" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">This Year</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisYear" (ionChange)="LoginRemCheck(dateFilter)" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Year</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastYear" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-row>
			<ion-col col-3 no-padding text-right>
					<ion-label>
						<span class="text" style="font-size:22px">Custom </span>
					</ion-label>
			</ion-col>
			<ion-col col-3 >
					<ion-datetime  *ngIf="dateFilter.isCustom == true" tappable style="border: 2px solid #eee;" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
			</ion-col>
			<ion-col col-3 >
					<ion-datetime *ngIf="dateFilter.isCustom == true" tappable style="border: 2px solid #eee;" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate2"></ion-datetime>
			</ion-col>
			<ion-col col-3 text-right padding-right padding-top>
					<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.isCustom" (ionChange)="LoginRemCheck(dateFilter)"></ion-checkbox>
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==2">
	<ion-col>
		<ion-item class="itemButton">
			<ion-label >
				<ion-icon name="pin" class="icon ion-ios-clock-outline" style="color: #ffC977;"></ion-icon>
				<span class="text">Not Contacted</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="Status.notConnected" (ionChange)="LoginRemCheck(Status)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<ion-icon name="pin" class="icon ion-ios-clock-outline" style="color: #414edb;"></ion-icon>
				<span class="text">Not Home</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="Status.notHome" (ionChange)="LoginRemCheck(Status)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<ion-icon name="pin" class="icon ion-ios-clock-outline" style="color: #e80b0b;"></ion-icon>
				<span class="text">Not Interested</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="Status.notInterested" (ionChange)="LoginRemCheck(Status)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
		<ion-label>
			<ion-icon name="pin" class="icon ion-ios-clock-outline" style="color: #51baf7;"></ion-icon>
			<span class="text">Lead</span>
		</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="Status.lead" (ionChange)="LoginRemCheck(Status)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<ion-icon name="pin" class="icon ion-ios-clock-outline" style="color: #f4ea2c;"></ion-icon>
				<span class="text">Sold</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="Status.sold" (ionChange)="LoginRemCheck(Status)"></ion-checkbox>
		</ion-item>
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==3">
	<ion-col no-padding>
		<ion-item class="itemButton" style="background-color: #eee">
			<ion-label >
				<span class="text">NextOlive</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="todo" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton" *ngFor="let User of assignee">
			<ion-label>
				<span class="text">{{User.Name}}</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="User.isChecked" (ionChange)="LoginRemCheck(User)" ></ion-checkbox>
		</ion-item>
	</ion-col>
</ion-row>
</ion-content>
