page-filter {

 .toolbar-background {
    background: #C1142C;
}
.toolbar-title.toolbar-title {
    color: #ffffff;
}
button.back-button {
    color: #ffffff;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
   color: #ffffff;
}
.scroll-content{
    margin-top:56px;
}
}
