
<ion-header>

  <ion-navbar>
    <ion-title > 
    	<ion-row>
    		<ion-col col-1 no-padding>
            <ion-buttons left>
                <button style="float: left;margin-top: 9px;" ion-button icon-only (click)="back()">
                    <ion-icon style="color:#ffffff;" name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
        </ion-col>
    		<ion-col col-9>
     <div style="line-height: 38px;float: left;">
            Filter
        </div>
    </ion-col>
    <ion-col col-2>
         <div text-right style="line-height: 38px;border-left: 1px solid #b2b2b2" (click)="goToMap()">
            Done
        </div>
    </ion-col>
</ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<ion-row style="border-bottom: 1px solid #b2b2b2;">
	<ion-col text-center  [class.active]="filter==1" style="line-height: 30px;font-size: 16px;" (click)="changeFilter(1)">
		Date	
	</ion-col>
	<ion-col text-center [class.active]="filter==2" style="line-height: 30px;font-size: 16px; border-left: 1px solid #b2b2b2;border-right: 1px solid #b2b2b2" (click)="changeFilter(2)">
		Status
	</ion-col>
	<ion-col text-center [class.active]="filter==3" style="line-height: 30px;font-size: 16px;" (click)="changeFilter(3)">
		Assigned To
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==1">
	<ion-col>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">Today</span>
			</ion-label>
			<ion-checkbox checked="false" class="check" item-right  mode="ios" [(ngModel)]="dateFilter.today" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">Yesterday</span>
			</ion-label>
			<ion-checkbox checked="false" class="check" item-right  mode="ios" [(ngModel)]="dateFilter.yesterday" (ionChange)="DateCheck(dateFilter)" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label >
				<span class="text">This Week</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisWeek" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Week</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastWeek" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">This Month</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisMonth" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Month</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastMonth" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">This Year</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.thisYear" (ionChange)="DateCheck(dateFilter)" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton">
			<ion-label>
				<span class="text">Last Year</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.lastYear" (ionChange)="DateCheck(dateFilter)"></ion-checkbox>
		</ion-item>
		<ion-row>
			<ion-col col-3 no-padding text-right>
					<ion-label>
						<span class="text" style="font-size:22px">Custom </span>
					</ion-label>
			</ion-col>
			<ion-col col-3 >
					<ion-datetime  *ngIf="dateFilter.isCustom == true" tappable style="border: 2px solid #eee;" (ionChange)="customDateTime()" displayFormat="MM-DD-YYYY" [(ngModel)]="myDate1"></ion-datetime>
			</ion-col>
			<ion-col col-3 >
					<ion-datetime *ngIf="dateFilter.isCustom == true" tappable style="border: 2px solid #eee;" displayFormat="MM-DD-YYYY" [(ngModel)]="myDate2" (ionChange)="customDateTime()"></ion-datetime>
			</ion-col>
			<ion-col col-3 text-right padding-right padding-top>
					<ion-checkbox item-right  mode="ios" [(ngModel)]="dateFilter.custom" (ionChange)="DateCheck(dateFilter,'custom')"></ion-checkbox>
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==2">
	<ion-col>
		<ion-item class="itemButton" *ngFor="let pin of Status">
			<ion-label >
				<ion-icon name="pin" class="icon ion-ios-clock-outline" [ngStyle]="{'color': pin.color_code}" style="font-size: 30px; padding-right: 10px;"></ion-icon>
				<span class="text">{{pin.pin_status_name}}</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="pin.isChecked" (ionChange)="LoginRemCheck(pin)" [attr.value]="pin.id"></ion-checkbox>
		</ion-item>		
	</ion-col>
</ion-row>
<ion-row *ngIf="filter==3">
	<ion-col no-padding>
		<ion-item class="itemButton" style="background-color: #eee">
			<ion-label >
				<span class="text">NextOlive</span>
			</ion-label>
			<ion-checkbox item-right  mode="ios" [(ngModel)]="todo" ></ion-checkbox>
		</ion-item>
		<ion-item class="itemButton" *ngFor="let User of assignee">
			<ion-label>
				<span class="text">{{User.full_name}}</span>
			</ion-label>
			<ion-checkbox item-right [(ngModel)]="User.isChecked"  mode="ios" (ionChange)="LoginRemCheck(User)" [attr.value]="User.id"></ion-checkbox>
		</ion-item>
	</ion-col>
</ion-row>
</ion-content>
