
<ion-header>

  <ion-navbar>
    <ion-title > 
     <div text-center style="float: left;">
            Edit Pin
        </div>
        <div text-right style="width: 20%;float: right" (click)="updatePin()">
            Save
        </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>	
	<ion-row>
		<div style="position: relative;width:100%;">
			<div class="ddl-item"  [ngStyle]="{'background': ddl[0].color}" (click)="ToggleDropDown()">
		        <span name="current_status">{{ddl[0].name}}</span>
		        <span float-right class="left-icon"> <ion-icon ios="ios-arrow-down-outline" md="md-arrow-down"></ion-icon></span>
		    </div>
		    <div style="position:absolute;left:0; width:80%;padding-top: 8px;z-index: 999;" [hidden]="dropdown" >
		    	<div class="ddl-item" [ngStyle]="{'background': i.color_code}" (click)=OnChange(i.pin_status_name,i.id) *ngFor="let i of Status">
                        <ion-option [selected]="todo.current_status" value="{{i.id}}">{{i.pin_status_name}}
                        </ion-option>
			    </div>			
		    </div>
		   
		</div>
	</ion-row>
	<ion-row>
		<ion-col>	
		<!-- <input type="hidden" [(ngModel)]="todo.current_latitude" name="current_latitude" value="todo.latitude">	
		<input type="hidden" [(ngModel)]="todo.current_longitude" name="current_longitude" value="todo.longitude">
		<input type="hidden" [(ngModel)]="todo.pin_id" name="pin_id" value="todo.id"> -->		
			<ion-item>			
			<ion-label style="margin-bottom: 0px;">ASSIGNED TO:</ion-label>	
			<ion-select [(ngModel)]="todo.assigned_to" id="assigned">

		    		 <ion-option *ngFor="let item of assignedTo" [selected]="todo.assignedTo" (ionSelect)="changeAssignee(item.id,item.full_name)" value="{{item.id}}" >{{item.full_name}}</ion-option>
			  
            </ion-select>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">HOUSE NUMBER</ion-label>			
			<ion-input [(ngModel)]="todo.house_number" type="text" name="house_number"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">HOUSE ADDRESS</ion-label>			
			<ion-input [(ngModel)]="todo.house_address" type="text" name="house_address"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">UNIT #</ion-label>			
			<ion-input [(ngModel)]="todo.unit" type="text" name="unit"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">CITY</ion-label>			
			<ion-input [(ngModel)]="todo.city" type="text" name="city"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">STATE</ion-label>			
			<ion-input [(ngModel)]="todo.state" type="text" name="state"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>		
			<ion-label style="margin-bottom: 0px;">ZIP</ion-label>			
			<ion-input [(ngModel)]="todo.zipcode" type="text" name="zipcode"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<div *ngFor="let i of addpinfrm">
		
		<ion-row>
			<ion-col>
				<div *ngIf="!isAvailable(i.options)">
					<ion-item *ngIf="i.field_name!='Note'">	
						<ion-label style="margin-bottom: 0px;">{{i.field_label}}</ion-label>			
						<ion-input *ngIf="i.field_name!='phonenumber'" [(ngModel)]="todo[i.field_name]" [type]="i.type_name.field_type" [attr.name]="i.field_name"></ion-input>
						<ion-input *ngIf="i.field_name=='phonenumber'" [(ngModel)]="todo.phone_number" [type]="i.type_name.field_type" name="phone_number"></ion-input>
					</ion-item>
					<ion-item *ngIf="i.field_name=='Note'">	
						<ion-label style="margin-bottom: 0px;">{{i.field_label}}</ion-label>			
						<ion-input [(ngModel)]="custum[i.field_name]" [type]="i.type_name.field_type" [attr.name]="i.field_name"></ion-input>
					</ion-item>
				</div>	
				<div *ngIf="isAvailable(i.options)">
					<ion-label style="margin-bottom: 0px;">{{i.field_label}}</ion-label>

				    <div *ngIf="i.field_type=='8'">	
				    	<div *ngFor="let n of reformat(i.options,i.field_type);let j=index">	    	
							<ion-item>
							     <ion-label>{{n}}</ion-label>		 							
								 <ion-checkbox name="checkbox" [(ngModel)]="radio[j].isChecked" (ionChange)="addCheckbox($event,n,i.field_name)" id="{{j}}" [attr.value]="n"></ion-checkbox>
							</ion-item>
						</div>
					</div>
					<div *ngIf="i.field_type=='7'">
						<ion-list radio-group *ngFor="let n of reformat(i.options,i.field_type);let k=index">	
						 	<ion-item>
							    <ion-label>{{n}}</ion-label>
			                    <ion-radio (ionSelect)="onSelectionChange(i.field_name,n)" [checked]="radio[k].isChecked"  [attr.value]="n"></ion-radio>
							</ion-item>
						</ion-list>
					</div>	
				</div>
			</ion-col>
		</ion-row>
	</div>	
	
	<ion-row class="row">	    
		<ion-col class="col">
		    <button class="del" style="height: 35px;width: 267px;margin-left: 21px;text-align: center;font-size: 16px;color:#fff;">Delete</button>
        </ion-col>
    </ion-row>	
	</ion-content>
