page-chat-individual {

.scroll {
  padding: 10px 0 50px !important;
}
.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
 /* margin-bottom: 20px !important;*/
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  }
}
//This will change
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
   
  }
  span.send {
    color: black !important;
    background-color: #C7C7CC !important;
    display: inline-block !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
  }
}
span.rcv {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
.chat_time{
      line-height: 28px;
    width: auto;
    padding-left: 5px;
}
.chat_date {
    text-align: center;
    padding: 5px;
    font-size: 1.4rem;
    font-size: 1.4 erm;
}
.back-button {
    color: #ffffff;
}
.bar-button-default{
      color: #ffffff;
}

.toolbar-background {
    background: #C1142C;
}
.toolbar-title{
  color:#ffffff;
}
.toolbar-title.toolbar-title-ios img {
width: 46px !important;
    height: 46px !important;
}
.toolbar-title.toolbar-title-md img {
width: 50px !important; 
height: 44px !important;
}

.deleteImg {
       right: 1px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -34px;
    background: #007AFF;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 13px;
    font-size: 21px;
    color: #fff;
    -webkit-box-shadow: 0px 4px 5px #868686;
    box-shadow: 0px 4px 5px #868686;
    z-index: 99;
}
.deleteImg img{
  height: 17px;
    width: 17px;
    /* padding: 13px; */
    position: absolute;
    right: 4px;
    margin-top: -9px;
}
}
