// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.headerName{
	min-width: 100px;
    min-height: 100px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;margin: 25px;
    font-size: 30px;
	
}

.listButton{
	font-size: 14px;line-height: 22px;
}

.activeList{
	background-color: #C1142C;
	color:#fff
}
.custom-modal {   
    top: 52px !important;   
    height: 100% !important;
    margin-top: 75px !important;
    ion-backdrop {
        visibility: visible;
        opacity: 0 !important;
    }    
}
.custom-modal ion-content.view-class.content.content-md {
    height: 20%;
}
.toolbar-ios ion-title {
    padding: 7px !important;
}
.toolbar-title.toolbar-title-md {
    font-size: 17px;
}
button.listButton.item {
    padding-left: 0px !important;
}
button.listButton.item ion-label {
    padding-left: 16px !important;
}