page-leaderboard {
.toprow{
	border-bottom: 1px solid #dedede;
    height: 41px;
  }
  .leader_list{
      border-bottom: 1px solid #dedede;
  }
  .toolbar-ios ion-title {
    padding: 0 18px 1px 57px !important;
}
}
