page-resetpassword {
h2.frgt-heading{
	color: #ff8000;
    font-size: 30px;
    font-weight: 500;
    padding-left: 25px;
}
ion-item.item  {
	    border: 1px solid #eee;
    border-radius: 50px;
    background-color: #eee;
    margin-left: 20px;
    width: 87%;
}
.logo{
	    height: 54px;
    float: right;
}
}
