page-forget-password {

ion-item.item  {
	    border: 1px solid #eee;
    border-radius: 50px;
    background-color: #eee;
    margin-left: 20px;
    width: 87%;
}

$font-size: 26px;
$line-height: 1.6;
$lines-to-show: 3;
h1{
    font-size: 3rem;
    margin-top: 1.8rem;
    line-height: 38px;
    display: block;
    display: -webkit-box;
   /* max-width: 166px;*/
    height: 320px;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-content{
        padding: 3em 2em;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #bc142d;
    background: #e09fa247;
    margin-top: 101px;
}
}
