page-navigation-map {
#map_canvas {
	    height: 100%;
	}
	
	.my-overlay {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.7);
	    z-index: 20;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    margin: 0 auto;
	    padding: 0 !important;
	}
	#floating-panel {
	   	position: absolute;
	    width: 100%;
	    z-index: 5;
	    background-color: rgba(2, 2, 2, 0.5);
	    padding: 5px;
	    border: 1px solid #999;
	    color: #fff;
	    font-size: 17px;
	    line-height: 30px;
	    padding-left: 10px;
	     white-space: nowrap;
	     overflow-x: auto;
	}
	#map {
	    height: 100%;
	}
	.layers-icon {
    	background: url(../assets/icon/ios-apps.svg) no-repeat right;
    	width: 45px;
    	height: 50px;
		background-color: rgba(2, 2, 2, 0.5);
		border-radius: 6px;
	}
	.navigate-icon {
    	background: url(../assets/icon/md-navigate.svg) no-repeat right;
    	width: 45px;
    	height: 50px;
		background-color: rgba(2, 2, 2, 0.5);
		border-radius: 6px;
	}

	.FooterContainer{
		bottom: 0;
	    position: absolute;
	    background: #fff;
	    width: 100%;
	    padding:10px
	}
	.editPencil{
		right: 0;
	    width: 13%;
	    height: 50px;
	    position: absolute;
	    margin-top: -25px;
	    background: red;
	    text-align: center;
	    vertical-align: middle;
	    border-radius: 50%;
	    padding: 13px;
	    font-size: 21px;
	    color: #fff;box-shadow: 0px 4px 5px #868686;
	}
}
