page-pindetails{
	
	.details-title {
        background-color: #F0F0F0;
        width: 100%;
        height: 92px;
    }
    .details-title-content{
        margin-top: 14px;
        background-color: #FFD700;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 14px;
        padding: 10px;   
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
    }

.details-Content {
       background-color: #ffffff;
    margin-bottom: 17px;
    height: 104px;
}
.docs_img_List{
	color: #5f5a5a;
    font-size: 17px;
    padding: 13px;
}
}