<ion-header>
  <ion-navbar hideBackButton >

    <ion-title>            
      <ion-grid>
        <ion-row>
             <ion-col col-1 no-padding>
            <ion-buttons left>
                <button style="float: left;" ion-button icon-only (click)="back()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
        </ion-col>
         <ion-col col-9 size-md style="text-align: left; ">
         Pin Details
         </ion-col>
         <ion-col col-2 size-md style="text-align: right;" (click)="editPin(items.id)">
          EDIT
         </ion-col>  
        </ion-row>
    </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #F0F0F0;">
   <div class="details-title">
       <ion-row>
           <ion-col [ngStyle]="{'background-color': items.pin_status.color_code}" class="details-title-content">{{items.pin_status.pin_status_name}}</ion-col>
       </ion-row>
   </div>
    <div class="details-Content">
      <ion-row style="padding: 11px;">
        <ion-col col-3>
          Name
        </ion-col>
        <ion-col col-9>
           {{items.name}}
        </ion-col>
      </ion-row>
      <hr style="margin: 0 11px 1px 11px;height: 2px;">
  <ion-row style="padding: 11px;">
        <ion-col col-3>
          Address
        </ion-col>
        <ion-col col-7>
          {{items.house_number}},{{items.house_address}}<br>
               <p style="margin-top: 2px;">{{items.city}}, {{items.state}}</p>
        </ion-col>
        <ion-col col-2>
           <span (click)="getNavigation(items.latitude,items.longitude)">
         <img src="assets/imgs/Map-Location.png" style="height: 40px; width: 50px;" >
        </span>

        </ion-col>
      </ion-row>
        
        
</div>
 <div *ngIf="show_appointment" class="details-Content">
    <h6 style="padding: 7px 0 0 11px;margin-bottom: 1px;">APPOINTMENT</h6><br>
    <ion-list>
      <ion-item *ngFor="let dates of appointment_time">
  <ion-datepicker  class="ScheduleDate"><ion-icon style="font-size: 25px;color:#5f5a5a; padding: 0 0 0 9px;" name="clipboard" item-left ></ion-icon><strong style="color: #5f5a5a;padding-left: 16px; font-size: 17px;font-weight: 300;">{{dates}}</strong></ion-datepicker>
      </ion-item>
    </ion-list>
  
    <div style="line-height: 36px; padding-left: 43px; color: #ff8000;" (click)="gotoAppointment(items)" >Add new appointment</div>
 </div>
  <div class="details-Content" style="height: 48px;"> 
    <div class = "list" style="height: 40px; padding: 11px; font-size: 17px;">
            <label class = "item item-input">
              ASSIGNED TO     
            </label>

            <label class = "item item-input" style="margin-left: 14px; color: #5f5a5a;">
               {{items.user.full_name}}
            </label>
        </div>
  </div>
  <!--  <div class="details-Content" style="height: 48px;">
  
         <div class="item-note docs_img_List">        
        Docs & Images
        <ion-icon name="ios-arrow-forward" style="float: right;"></ion-icon>
      </div>      
    
   </div> -->
      <div class="details-Content" style="height: 48px;">
  
         <ion-row>
            <ion-col style="padding: 11px; font-size: 17px;">
                Status History
            </ion-col>
         </ion-row>   
          <ion-row>
             <ion-col col-1>  
             <ion-icon style="font-size: 33px; line-height: 56px;" name="pin" item-start class="icon ion-ios-clock-outline" [ngStyle]="{'color': items.pin_status.color_code}"></ion-icon>
           </ion-col>
            <ion-col class="bottom_time" col-5>              
              <p>{{updated_date}}</p>
              <p>at {{updated_time}}</p>
            </ion-col>
            <ion-col col-6>            
               <p style="float:right; padding-right:8px;">by :{{items.user.full_name}}</p>
            </ion-col>
         </ion-row>     
    
   </div>
</ion-content>
